<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : '' ">
  <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()"><img src="../../assets/setting1.png" title="logoImg" alt="Logo" />  </button>
      <div class="logo-text " *ngIf="collapsed">Dashboard</div>
      <!-- <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()"> 
        <i class="fal fa-times close-icon"></i>
      </button> -->
  </div>
  <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
          <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" 
          [routerLink]="[data.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >
              <img [src]="data.img" class="sidenav-link-icon"  />
              <span   [ngClass]="{
                'sidenav-link-text': !isActive(data.routeLink),
                'active-text': isActive(data.routeLink)
              }" *ngIf="collapsed" >{{data.label}}</span>
        
          </a>
          <!-- <ul *ngIf="data.expanded" class="sidenav-submenu">
            <li *ngFor="let child of data.children">
              <a class="sidenav-nav-link" 
                 [routerLink]="[child.routeLink]" 
                 routerLinkActive="active">
                <span>{{child.label}}</span>
              </a>
            </li>
          </ul> -->
      </li>
  </ul>
</div>