<nav class="side-menu">
    <h1>Dashboard</h1>
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/customers">Customers</a></li>
      <li><a routerLink="/product">Product</a></li>
      <li><a routerLink="/income">Income</a></li>
      <li><a routerLink="/promote">Promote</a></li>
      <li><a routerLink="/help">Help</a></li>
    </ul>
    <div class="pro-upgrade">
      <p>Upgrade to PRO to access all features!</p>
      <button>Get Pro Now!</button>
    </div>
  </nav>
  