.sidenav {
  background: #ffffff;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
  transition: width 700ms ease-in-out;
}
.logo-container {
  display: flex;
  align-items: center;
  padding: 22px 12px 20px 10px;
  width: 100%;
}
.logo {
  background: #fff;
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
}
.logo-text {
  margin-left: 0.5rem;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

.btn-close {
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}
.fa-times {
  color: #fff;
  font-size: 24px;
}
.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
  color: #9197b3;
}
.sidenav-nav-item:hover span {
  width: 100%;
  color: #eee7e7;
}
.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: #f3f3f3;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
  /* justify-content: center; */
}
.sidenav-link-icon {
  margin: 0 0.5rem;
  text-align: center;
}
.sidenav-link-icon:hover {
  filter: invert(100%) brightness(200%);
}
.sidenav-link-text {
  margin-left: 0.4rem;
}
.sidenav-nav-link:hover {
  background-color: #5932ea;
  color: #000;
}
.menu-collapse-icon {
  color: #000;
}
.active {
  background-color: #5932ea;
  color: #fff;
  justify-content: center;
}
.active span.sidenav-link-text {
  color: #fff;
}
.sidenav a.sidenav-nav-link.active {
  justify-content: center;
}
.sidenav a.sidenav-nav-link:hover {
  justify-content: center;
}
.sidenav-collapsed a.sidenav-nav-link.active {
  justify-content: left !important;
}
.active-text {
  color: #fff;
}
.sidenav-link-icon {
  width: 1.6rem;
}
.menu-collapse-icon,
.sidenav-link-icon,
.sidenav-link-text {
  color: #9197b3;
}

@media (min-width: 768px) {
  .side-menu {
    width: 250px;
    text-align: left;
  }
}
.footer_sec {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: start;
  margin-left: 12px;
  bottom: 20px;
}
.content_sec p {
  font-size: 13px;
}
.content_sec h6 {
  font-size: 14px;
}
.img_sec img {
  max-width: 40px;
  height: 40px;
  /* width: 100%; */
  border-radius: 100%;
  object-fit: cover;
}
.content_sec {
  position: relative;
  width: 100%;
}
.content_sec i.fa.fa-chevron-down {
  position: absolute;
  right: 25px;
  bottom: 17px;
  margin: auto;
  font-size: 14px;
}
.sidenav .content_sec {
  display: none;
}
.sidenav.sidenav-collapsed .content_sec {
  display: block;
}
