 /* Content Area */
 .content {
    padding: 20px;
  }
  
  .content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .content header .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .stat-card {
    /* background-color: #f9f9f9; */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .stat-card h3 {
    font-size: 18px;
    color: #333;
  }
  
  .stat-card p {
    font-size: 24px;
    color: #16c098;
  }
  
  .customer-list {
    margin-top: 20px;
  }
  
  .customer-list header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .table {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .table-row {
    display: contents; /* This allows items to align within the grid without separate boxes */
  }
  
  .table-row.header {
    font-weight: bold;
    background-color: #fafbff;
  }
  
  .table-row span {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .status {
    padding: 5px;
    text-align: center;
    border-radius: 5px;
  }
  
  .status.active {
    background-color: #e0f7ec;
    color: #16c098;
  }
  
  .status.inactive {
    background-color: #ffdada;
    color: #d0004a;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
  }
  
  .pagination button {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  /* Desktop Styles */
  @media (min-width: 768px) {
    .dashboard {
      flex-direction: row;
    }
  
    .side-menu {
      width: 250px;
      text-align: left;
    }
  
    .content {
      flex: 1;
      padding: 40px;
    }
  
    .stats {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .table {
      grid-template-columns: repeat(6, 1fr);
    }
  
    .table .table-row {
      flex-direction: row;
      align-items: center;
    }
  }
  
  .main_card{
    background-color: #fff;
    padding: 12px 0px;
    border-radius: 30px;
  }

  .image_sec {
    background: #EFFFF6;
    padding: 20px;
    text-align: center;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #dddddd;
    width: 80px;
    height: 80px;
    margin: auto;
}
.inner_sec {
  padding: 12px;
}
.active_img span:nth-child(2) {
  position: relative;
  right: 8px;
}
.active_img span:nth-child(3) {
  position: relative;
  right: 16px;
}

.active_img img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
}
.row.main_card .col-sm-4.m-auto:nth-child(2) {
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}
.row.header_sec {
  margin-bottom: 30px;
}