<div class="content p-0">
  <div class="row header_sec">
    <div class="col-sm-9">
      <h4>Hello Evano 👋</h4>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row main_card">
    <div class="col-sm-4 m-auto">
      <div class="row inner_sec">
        <div class="col-sm-4 m-auto">
          <div class="image_sec">
            <img alt="icon" src="../../../assets/profile-2user.png" />
          </div>
        </div>
        <div class="col-sm-8">
          <small>Total Customers</small>
          <h5>5,423</h5>
          <p class="m-auto">
            <img alt="icon" src="../../../assets/arrow-up 1.png" /><span
              style="color: #00ac4f"
              >16%</span
            >&nbsp;this month
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 m-auto">
      <div class="row inner_sec">
        <div class="col-sm-4 m-auto">
          <div class="image_sec">
            <img alt="icon" src="../../../assets/profile-tick.png" />
          </div>
        </div>
        <div class="col-sm-8">
          <small>Members</small>
          <h5>{{ additionalData.totalUsers }}</h5>
          <p class="m-auto">
            <img alt="icon" src="../../../assets/arrow-down.png" /><span
              style="color: #d0004b"
              >16%</span
            >&nbsp;this month
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 m-auto">
      <div class="row inner_sec">
        <div class="col-sm-4 m-auto">
          <div class="image_sec">
            <img alt="icon" src="../../../assets/monitor.png" />
          </div>
        </div>
        <div class="col-sm-8">
          <small>Active Now</small>
          <h5>5,423</h5>
          <p class="m-auto active_img">
            <span><img alt="icon" src="../../../assets/active_usr.png" /></span>
            <span><img alt="icon" src="../../../assets/active_usr.png" /></span>
            <span><img alt="icon" src="../../../assets/active_usr.png" /></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <section class="customer-list">
    <app-datatable
      [customerData]="customers"
      [additionalData]="additionalData"
      [paginationData]="paginationData"
    ></app-datatable>
  </section>
</div>
